.mainPage {
  display: flex;
  flex-direction: column;
}

.cardDesign {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu{
  margin-top: 80px;
}

.cardAndCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}

.cart{
 margin-right: 30px;

}