.mainPage {
  display: flex;
  flex-direction: column;
  
}


  

.cardDesign {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu{
  margin-top: 80px;
}

.cardAndCart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media only screen and (max-width:725px){
  .cardAndCart{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

  }
}

.cart{
 margin-right: 30px;

}


.message{

}